{% extends 'base.html' %}
{% load easy_mask %}
{% block conteudo %}
<br>
<a href="{% url 'cadastrar_diarista' %}" class="btn btn-primary">Novo Cadastro</a>
<br><br>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Email</th>
            <th>CEP</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for diarista in diaristas %}
            <tr>
                <td class="align-middle">{{diarista.id}}</td>
                <td class="align-middle">{{diarista.nome_completo}}</td>
                <td class="align-middle">{{diarista.email}}</td>
                <td class="align-middle">{{diarista.cep | cep}}</td>
                <td class="align-middle">
                    <a type="button" class="btn btn-secondary" href="{% url 'editar_diarista' diarista.id %}">Editar</a>
                    <a type="button" class="btn btn-danger" href="{% url 'remover_diarista' diarista.id %}">Remover</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock conteudo %}